@import "null-style.scss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

header {
    background-color: #EFEFEF;
    height: 50px;
    width: 100%;

    .header {
        margin-bottom: 20px;
        padding: 16px;
        font-size: 14px;
        text-align: center;
    }

    .center-text {
        margin-right: 30px;
        color: #333333;
    }
}


.box1 {
    height: 150px;
    max-height: 150px;
    width: 100%;
    min-width: 500;

    .first-line {
        height: 120px;
        max-height: 120px;
        width: 100%;
        min-width: 500;
        border-bottom: 1px solid #EFEFEF;
    }

    .first-line img {
        margin: 20px 20px 20px 21%
    }

    .first-line__text1 {
        display: inline-block;
        padding: 40px 0 40px 0;
        color: #66C05D;
        font-size: 36px;
        font-style: Bold;
        text-transform: uppercase;
    }

    .first-line__text2 {
        display: inline-block;
        padding: 51px 0 51px 0;
        font-size: 16px;
        line-height: 18.75px;
        line-height: 100%;
    }

    .first-line__text3 {
        display: inline-block;
        margin: 52px 0 53px 40px;
        padding: 12px 0 13px 0;
        font-size: 14px;
        line-height: 16.41px;
        line-height: 100%;
        height: 40px;
        width: 170px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid #66C05D;
        border-radius: 40px;
    }
}